.About {
  background-color: #FCF6C5;
  padding: 64px 0px;
}

.about__row--title {
  margin-bottom: 32px;
}

.about__headline, .about__content-title, .about__content-text {
  color: #000;
}

.about__icon {
  margin-bottom: 24px;
}
