.navbar--fixed {
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.navbar--scroll {
  background-color: #141823;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
